In [1]:
import pandas as pd
from pycaret.regression import *

In [2]:
train = pd.read_csv('./data/train.csv',index_col=0)
test = pd.read_csv('./data/test.csv',index_col=0)

In [3]:
exp1 = setup(train, target = 'loss', silent=True)

In [4]:
lightgbm = create_model('lightgbm')

In [5]:
catboost = create_model('catboost')

In [6]:
xgboost = create_model('xgboost')

In [7]:
tuned_lightgbm = tune_model(lightgbm)

In [8]:
tuned_catboost = tune_model(catboost)

In [9]:
tuned_xgboost = tune_model(xgboost)

In [12]:
blender_specific = blend_models(estimator_list = [lightgbm,catboost,xgboost])

In [67]:
predictions = predict_model(blender_specific, data = test)

In [78]:
predictions

,f0,f1,f2,f3,f4,f5,f6,f7,f8,f9,...,f91,f92,f93,f94,f95,f96,f97,f98,f99,Label
id,,,,,,,,,,,,,,,,,,,,,
250000,0.812665,15,-1.239120,-0.893251,295.5770,15.87120,23.04360,0.942256,29.898000,1.11394,...,-422.332,-1.44630,1.69075,1.059300,-3.010570,1.94664,0.529470,1.386950,8.78767,7.636024
250001,0.190344,131,-0.501361,0.801921,64.8866,3.09703,344.80500,0.807194,38.421900,1.09695,...,10352.200,21.06270,1.84351,0.251895,4.440570,1.90309,0.248534,0.863881,11.79390,4.465177
250002,0.919671,19,-0.057382,0.901419,11961.2000,16.39650,273.24000,-0.003300,37.940000,1.15222,...,3224.020,-2.25287,1.55100,-0.559157,17.838600,1.83385,0.931796,2.336870,9.05400,8.027557
250003,0.860985,19,-0.549509,0.471799,7501.6000,2.80698,71.08170,0.792136,0.395235,1.20157,...,9689.760,14.77150,1.41390,0.329272,0.802437,2.23251,0.893348,1.359470,4.84833,8.233895
250004,0.313229,89,0.588509,0.167705,2931.2600,4.34986,1.57187,1.118300,7.754630,1.16807,...,2693.350,44.18050,1.58020,-0.191021,26.253000,2.68238,0.361923,1.532800,3.70660,6.689487
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
399995,0.751053,77,0.666725,-1.106280,21433.3000,16.58120,122.77900,-0.319314,-82.222900,1.13916,...,123.551,13.98240,2.34641,-0.438368,-2.587330,-0.62910,0.358354,1.434990,8.55460,7.259990
399996,0.734669,41,0.611225,0.740177,294.1850,10.72900,25.03340,0.644556,-13.998000,1.11345,...,7051.200,8.85935,1.48816,1.481120,0.307554,2.26251,0.563482,1.872810,12.54960,6.935918
399997,0.417307,142,-0.357854,-0.836640,1215.2500,10.62460,221.60400,0.875104,-41.531500,1.40427,...,10879.100,13.31930,2.11974,0.524081,22.268500,2.40363,0.288236,2.323660,12.33840,6.473205
399998,1.023900,17,0.367100,-0.936674,1832.3900,8.51691,262.79700,-0.474002,7.162060,1.22668,...,2513.930,38.75670,1.49949,-0.189529,7.632810,2.54065,0.453850,1.653140,31.16380,4.891879
399999,0.249362,49,0.344670,-0.566363,2290.9300,20.80300,350.64400,1.018560,9.507420,1.22905,...,12093.000,16.91400,1.65282,-0.763589,11.822300,2.22475,0.387568,1.561280,5.69671,6.736083

In [79]:
preds_final = pd.DataFrame()
preds_final = predictions[['id', 'Label']]
preds_final = preds_final.rename(columns={"Label": "loss"})

KeyError: "['id'] not in index"

In [75]:
preds_final.to_csv('pycaret.csv', index=False)

In [76]:
preds_final

            loss      id
id
250000  7.636024  250000
250001  4.465177  250001
250002  8.027557  250002
250003  8.233895  250003
250004  6.689487  250004
...          ...     ...
399995  7.259990  399995
399996  6.935918  399996
399997  6.473205  399997
399998  4.891879  399998
399999  6.736083  399999

[150000 rows x 2 columns]